@use '../mixin';

.btn-regular {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  color: var(--white);
  border: 1px solid var(--black);
  transition-property: background-color, color;
  transition-duration: 0.3s;

  @include mixin.hover {
    background-color: transparent;
    color: var(--black);
  }
}

.btn-plain {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-image: none;
  color: #000000bf;
  transition-property: color, background-color;
  transition-timing-function: cubic-bezier(.4, 0, .2, 1);
  transition-duration: .15s;
  cursor: pointer;

  @include mixin.hover {
    color: var(--primary);
    background-color: var(--btn-plain-bg-hover);
  }
}

.btn-card {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--card-bg);
  color: var(--primary);
  border-radius: 0.5rem;
  transition-property: background-color;
  transition-duration: 0.3s;

  @include mixin.hover {
    background-color: var(--btn-card-bg-hover);
  }
}