@use '../mixin';

.btn-regular {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--btn-regular-bg);
  color: var(--btn-content);
  border-radius: 0.5rem;
  transition-property: background-color;
  transition-duration: 0.3s;

  @include mixin.hover {
    background-color: var(--btn-regular-bg-hover);
  }
}