@use '../mixin';

:root {

  --page-bg: #E6E4DD;
  --card-bg: oklch(1 0.0 0);
  --code-bg: #303446;
  --text-color: oklch(0.3 0.0 0);
  --text-light: #00000080;
  --line-color: rgba(0, 0, 0, 0.1);
  --black: oklch(0.3 0.0 0);
  --white: oklch(1 0.0 0);
  --gray: #C8C7C2;

  --border-color: #8c8b84;
  --hover-color: #dcdad3;

  --fz-base: 0.8125rem;

  --ff-jp: "Kiwi Maru", sans-serif;

  --side-width: 11.5rem;

  --post-max-width: 42.5rem;
  --header-height: 1.5rem;
  --title-header-height: 1.75rem;
}

@include mixin.mobile {
  :root {
    // --header-height: 3.5rem;
  }
}