@use '../mixin';

:root {
  --hue: 300;

  --primary: oklch(0.7 0.14 var(--hue));
  --primary-color-transparent: oklch(0.7 .15 var(--hue) / 15%);
  --btn-content: oklch(.55 .12 var(--hue));
  --btn-regular-bg: oklch(.95 .025 var(--hue));
  --btn-regular-bg-hover: oklch(.9 .05 var(--hue));
  --btn-plain-bg-hover: oklch(.95 .025 var(--hue));
  --btn-card-bg-hover: oklch(.98 .005 var(--hue));

  --page-bg: oklch(0.95 0.01 var(--hue));
  --card-bg: oklch(1 0.0 0);
  --text-color: oklch(0.3 0.0 0);
  --text-light: #00000080;
  --line-color: rgba(0, 0, 0, 0.1);
  --black: oklch(0.3 0.0 0);
  --white: oklch(1 0.0 0);

  --page-width: 85rem;
  --header-height: 4rem;
}

@include mixin.mobile {
  :root {
    --header-height: 3.5rem;
  }
}

:root.dark {
  --primary: oklch(0.7 0.14 var(--hue));
  --btn-content: oklch(.75 .1 var(--hue));
  --btn-regular-bg: oklch(.33 .035 var(--hue));
  --btn-regular-bg-hover: oklch(.38 .04 var(--hue));
  --btn-plain-bg-hover: oklch(.3 .035 var(--hue));
  --btn-card-bg-hover: oklch(.3 .03 var(--hue));
  --page-bg: oklch(0.16 0.014 var(--hue));
  --card-bg: oklch(.23 .015 var(--hue));
  --text-color: oklch(0.95 0.002 0);
  --text-light: #ffffff80;
  --line-color: rgba(255, 255, 255, 0.1);
  --black: oklch(1 0.0 0);
  --white: oklch(0.3 0.0 0);
}