* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-size: 1rem;
  color: var(--text-color);
  background: var(--page-bg);
  line-height: 1.5;
  letter-spacing: 0.05em;
}

a {
  color: inherit;
  text-decoration: none;
}

img {
  width: 100%;
  height: auto;
  object-fit: cover;
  vertical-align: bottom;
}

h1,
h2,
h3,
h4,
h5,
h6,
div,
dl,
dt,
dd,
p {
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}

li {
  list-style: none;
}

button {
  padding: 0;
  border: none;
  font: inherit;
  color: inherit;
  background: none
}

table {
  margin-inline: auto;
  border-collapse: collapse;

  thead {
    background: var(--btn-regular-bg);
  }

  th,
  td {
    padding: 0.375rem 0.8125rem;
    border: 1px solid #3d444d;
  }
}

// safari対策でデフォルトの三角形を消す
summary::-webkit-details-marker {
  display: none;
}

summary {
  display: block;
}

// reCAPTCHAバッジ非表示
// .grecaptcha-badge {
//   visibility: hidden;
// }