---
import type { CollectionEntry } from "astro:content";
import PostCard from "@/components/PostCard.astro";
import MainGridLayout from "@/layouts/MainGridLayout.astro";
import { getUpdateBlogs } from "@/utils/content-utils";
import type { Page } from "astro";

interface Props {
  page: Page<CollectionEntry<"blog">>;
}

const allBlogPosts = await getUpdateBlogs();

const pageTitle = "ブログ記事一覧";
const description = "ブログ記事一覧ページです。";
---

<MainGridLayout
  pageTitle={pageTitle}
  description={description}
>
  <div class="grid">
    {allBlogPosts.map((post) => (
      <PostCard post={post} />
    ))}
  </div>
</MainGridLayout>

<style lang="scss">
  .grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(18.5rem, 1fr));

    @include mixin.phone {
      grid-template-columns: 1fr;
    }
  }
</style>