@use '/src/styles/mixin';

@include mixin.large {
  .for-mobile {
    display: none !important;
  }
}

@include mixin.large-2 {
  .for-large-2 {
    display: none !important;
  }
}

@include mixin.mobile {
  .for-large {
    display: none !important;
  }
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &.-line-clamp-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    white-space: wrap;
    text-box: unset;
  }
}