@use '/src/styles/mixin';

@include mixin.large {
  .for-mobile {
    display: none !important;
  }
}

@include mixin.mobile {
  .for-large {
    display: none !important;
  }
}

.text-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;

  &.-line-clamp-2 {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    white-space: wrap;
    text-box: unset;
  }
}

.u-header-height-area {
  height: var(--title-header-height);
  border-bottom: 1px solid var(--border-color);

  @include mixin.phone {
    display: none;
  }
}