.work {
  margin: 1rem 1.5rem;

  >*+* {
    margin-top: 2rem;
  }

  &__grid {
    display: grid;
    grid-template-columns: 1fr 1.2fr;
    column-gap: 0.5rem;
  }

  &__title {
    font-size: 0.75rem;
    margin-bottom: 0.25rem;
  }

  &__img {
    img {
      filter: grayscale(0);
    }
  }
}