---
import { Image } from "astro:assets";
import backgroundImage from "@/assets/images/background.jpg";
---
<div class="background-image">
  <Image src={backgroundImage} alt="background" />
</div>

<style lang="scss">
.background-image {
  height: 280px;
  position: relative;
  z-index: -1;
  img {
    height: 100%;
    object-fit: cover;
  }
}
</style>