---
const currentYear = new Date().getFullYear();
---

<footer class="footer">
  <small>&copy; <span>{currentYear}</span> munus. All Rights Reserved. <span class="for-large"></span><br>
    <a href="/sitemap-index.xml" target="_blank">Sitemap</a> /
    <a href="/site-policy">Site Policy</a> /
    <a href="/privacy-policy">Privacy Policy</a>
  </small>
</footer>

<style lang="scss">
  .footer {
    text-align: center;
    align-content: center;
    position: relative;
    @include mixin.large {
      grid-column: 2 / 3;
    }
    @include mixin.mobile {
      padding: 1rem;
    }
    &::before {
      content: '';
      width: 80%;
      height: 2px;
      background-image: radial-gradient(circle, var(--line-color) 1px, transparent 1px);
      background-position: left top;
      background-repeat: repeat-x;
      background-size: 10px 2px;
      position: absolute;
      top: 0;
      left: 50%;
      translate: -50% 0;
    }
    small {
      @include mixin.mobile {
        font-size: 0.75rem;
      }
    }
    small a {
      color: var(--primary);
    }
  }
</style>