---
const { penId, title = "CodePen Embed" } = Astro.props;
---

<div class="codepen-embed">
  <iframe
    style="width: 100%; height: 100%;"
    title={title}
    src=`https://codepen.io/kamenono/embed/${penId}?default-tab=&theme-id=dark`
    loading="lazy"
    allowtransparency="true"
    allowfullscreen="true"
  >
  </iframe>
</div>

<style lang="scss">
  .codepen-embed {
    width: 100%;
    height: 100%;
    aspect-ratio: 16 / 9;
    margin-bottom: 2rem;
    iframe {
      border: none;
    }
  }
  @include mixin.mobile {
    .codepen-embed {
      aspect-ratio: 1 / 1;
    }
  }
</style>