---
interface Props {
  url: string;
}

const { url } = Astro.props;
---

<a class="demo-btn" href={url} target="_blank">デモを見る</a>

<style lang="scss">
  .demo-btn {
    display: block;
    width: fit-content;
    margin-left: auto;
    margin-top: -0.75rem;
    padding: 0.5rem 1.0rem;
    border-radius: 0.25rem;
    border: 1px solid var(--black);
    color: var(--white);
    font-weight: 500;
    background: var(--black);
    font-size: var(--fz-base);
    text-decoration: none;
    transition-property: background-color, color;
    transition-duration: 0.3s;
    @media (hover: hover) {
      &:hover {
        background-color: var(--white);
        color: var(--black);
      }
    }
  }
</style>