---
interface Props {
  chips: {
    name: string;
    url: string;
  }[];
  title: string;
}

const { chips, title } = Astro.props;
---
<div class="container">
  <h2 class="title">{title}</h2>
  <ul class="list">
    {chips.map((chip) => (
      <li class="list__item">
        <a href={chip.url} class="link">{chip.name}</a>
      </li>
    ))}
  </ul>
</div>

<style lang="scss">
  .container {
    max-width: 1000px;
    margin-inline: auto;
    @include mixin.mobile {
      padding-bottom: 1.5rem;
    }
  }
  .list {
    display: flex;
    flex-wrap: wrap;
    gap: 0.25rem;
    margin-top: 1.5rem;
    margin-right: 2rem;
    @include mixin.mobile {
      margin-top: 1rem;
    }
  }
  .link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0.5rem;
    border-radius: 0.5rem;
    font-size: 0.875rem;
    transition-property: background, color;
    transition-duration: 0.3s;
    @include mixin.hover {
      background: var(--black);
      color: var(--white);
    }
  }
</style>