---

---
<div class="stack" data-pagefind-body>
  <slot />
</div>

<style lang="scss" is:global>
  .stack {
    line-height: 1.65;
    @include mixin.large {
      font-size: 0.95rem;
      letter-spacing: 0.025em;
    }
    > * + * {
      margin-top: var(--stack-space, 1.25rem);
      @include mixin.mobile {
        --stack-space: 1.5rem;
      }
    }
    meta + h2 {
      margin-top: 0;
    }
    h2 {
      --stack-space: 3.75rem;
      font-size: 1.1rem;
      @include mixin.mobile {
        margin-inline: -1rem;
        border-left-width: 4px;
      }
      &::before {
        content: '#';
        font-family: var(--ff-jp);
      }
      .anchor {
        font-size: 1rem;
      }
    }
    h3 {
      --stack-space: 3.25rem;
      font-size: 1rem;
      padding-bottom: 0.5rem;
      position: relative;
      &::before {
        content: '##';
        font-family: var(--ff-jp);
      }
      + * {
        --stack-space: 1rem;
      }
    }
    h2, h3 {
      font-weight: 500;
      @include mixin.mobile {
        font-size: 1.25rem;
      }
      @include mixin.hover {
        .anchor {
          opacity: 1;
        }
      }
      .anchor {
        text-decoration: none;
        font-family: 'Kiwi Maru', sans-serif;
        border-radius: 0.35rem;
        padding: 0 0.5rem;
        margin-top: -0.25rem;
        margin-left: 0.2rem;
        opacity: 0;
        transition-property: background, opacity;
        transition-duration: 0.2s;
        @include mixin.hover {
          background: var(--btn-plain-bg-hover);
        }
        @include mixin.mobile {
          display: none;
        }
      }
    }
    h2 + h3 {
      --stack-space: 1.5rem
    }
    h4 {
      font-size: 1.25rem;
      display: flex;
      align-items: center;
      column-gap: 0.5rem;
      &::before {
        content: '';
        width: 0.5rem;
        height: 0.5rem;
        background: var(--primary);
        border-radius: 50%;
      }
      + * {
        --stack-space: 1rem;
      }
    }
    p {
      & + p {
        margin-top: 2.5rem;
      }
    }
    ul, ol {
      margin-top: 1.5rem;
      padding-left: 0.5rem;
      > * + * {
        margin-top: 0.75rem;
      }
      ul {
        margin-top: 0.75rem;
        padding-left: 0;
      }
    }
    li {
      list-style: unset;
      margin-left: 1.5rem;

      .wikipedia {
        margin-top: 0.75rem;
        margin-bottom: 1.25rem;
      }
    }
    a {
      text-decoration-line: underline;
      text-decoration-style: dashed;
      text-decoration-thickness: 1px;
      text-underline-offset: 4px;
      padding: 0.25rem 0.5rem;
      border-radius: 0.5rem;
      transition-property: background-color;
      transition-timing-function: cubic-bezier(.4, 0, .2, 1);
      transition-duration: .15s;
      @include mixin.hover {
        background-color: var(--btn-plain-bg-hover);
      }
    }
    strong {
      background: linear-gradient(transparent 60%, var(--btn-regular-bg) 40%);
      font-weight: 500;
      color: var(--black);
    }
    details {
      margin-top: 2rem;
      margin-inline: 2rem;
      font-size: 1rem;
      &[open] {
        summary {
          border-bottom-right-radius: 0px;
          border-bottom-left-radius: 0px;
          border-color: var(--primary);
          &::after {
            rotate: 180deg;
            margin-top: 0.2rem;
          }
        }
      }
      summary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0.75rem 1rem;
        border-radius: 0.5rem;
        background-color: var(--btn-regular-bg);
        border: 1px solid var(--btn-regular-bg-hover);
        color: var(--btn-content);
        border-radius: 0.5rem;
        transition-property: background-color;
        transition-duration: 0.3s;
        cursor: pointer;
        @include mixin.hover {
          background-color: var(--btn-regular-bg-hover);
        }
        &::after {
          content: '▼';
        }
        + div {
          padding: 1.5rem 1rem;
          border-radius: 0 0 0.5rem 0.5rem;
          border: 1px solid var(--primary);
          border-top: none;
          border-bottom-right-radius: 0.5rem;
          border-bottom-left-radius: 0.5rem;
          @include mixin.mobile {
            padding-inline: 2rem 1rem;
          }
          > * + * {
            margin-top: 1.5rem;
          }
          figure {
            margin-bottom: 0;
          }
          > ul {
            margin-top: 0;
          }
        }
      }
    }
    span code {
      background: var(--btn-regular-bg) !important;
      border-radius: 0.375rem;
      color: var(--btn-content) !important;
      padding: 0.2rem 0.35rem;
      font-family: JetBrains Mono Variable,ui-monospace,SFMono-Regular,Menlo,Monaco,Consolas,Liberation Mono,Courier New,monospace;
      font-size: 0.85rem;
      .rehype-pretty-copy {
        display: none;
      }
    }
    table {
      --stack-space: 2rem;
    }
    blockquote {
      --stack-space: 2rem;
      background: var(--primary-color-transparent);
      border-radius: 0.25rem;
      padding: 0.5rem 0.75rem;
      padding-left: 1rem;
      border-left: 0.25rem solid var(--primary);
    }
    hr {
      border: 0;
      margin-block: 2.5rem;
      display: flex;
      align-items: center;
      justify-content: center;

      &::before {
        content: '•••';
        font-size: 1.25em;
        letter-spacing: .2em;
      }
    }
  }
  .dark {
    .stack {
      strong {
        background: linear-gradient(transparent 70%, var(--primary) 30%);
      }
    }
  }
</style>