---
import { tagsList } from "@/data/blog/tags";
import { formatDateToYYYYMMDD } from "@/utils/date-utils";

interface Props {
  date: Date;
  updateAt?: Date | null;
  tags: string[];
}

const { date, updateAt, tags } = Astro.props;

const dateString = formatDateToYYYYMMDD(date);
const hasUpdateAt = updateAt !== null && updateAt !== undefined;
const updateDateString = hasUpdateAt ? formatDateToYYYYMMDD(new Date(updateAt)) : null;
const isUpdate = hasUpdateAt && updateDateString !== dateString;

const getTagSlug = (tag: string) => {
  const tagData = tagsList.find(tagData => tagData.name === tag);
  return tagData?.slug;
};
---

<div class="post-meta">
  <div class="post-meta__title">Meta Data</div>
  <div class="post-meta__content">
    <div class="post-meta__item">公開日:{dateString}</div>
    {isUpdate && (
      <div class="post-meta__item">更新日:{updateDateString}</div>
    )}

    <div class="post-meta__tags">
      Tags:
      <div class="post-meta__tags-wrap">
        {tags.map((tag, i) => (
          <a href=`/blog/tag/${getTagSlug(tag)}` class="post-meta__tag">#{tag}</a>
          )
        )}
      </div>
    </div>
  </div>
</div>

<style lang="scss">
  .post-meta {
    font-size: 1rem;
    @include mixin.phone {
      font-size: 0.875rem;
    }
    &__title {
      padding: 0.25rem 0.5rem;
      border-bottom: 1px solid var(--border-color);
      height: var(--title-header-height);

      @include mixin.phone {
        display: none;
      }
    }
    &__content {
      padding: 0.75rem 0.5rem;
      border-bottom: 1px solid var(--border-color);
    }
    &__tags {
      display: flex;
      column-gap: 0.25rem;
    }
    &__tags-wrap {
      display: flex;
      align-items: center;
      flex-wrap: wrap;
      column-gap: 0.4rem;
      row-gap: 0.25rem;
    }
    &__tag {
      font-family: var(--ff-jp);
      letter-spacing: -0.05em;
      font-size: 0.875rem;
      @include mixin.phone {
        font-size: 0.8rem;
      }
    }
  }
</style>

