---
// Supports weights 100-900
import '@fontsource-variable/genos';
import '@fontsource/ibm-plex-mono/400.css';
import '@fontsource/ibm-plex-mono/500.css';
import '@fontsource/kiwi-maru';

import '@/styles/styles.scss';

import Header from '@/components/base/Header.astro';
import Meta from '@/components/base/Meta.astro';

interface Props {
  pageTitle: string;
}

const props = Astro.props;
const { pageTitle } = props;
---

<!doctype html>
<html lang="ja">
	<head>
		<Meta {...props} />
	</head>
	<body>
    <Header title={pageTitle} />
		<slot />
	</body>
</html>

<style>
	body {
		font-family: 'IBM Plex Mono', 'Kiwi Maru', sans-serif;
	}
</style>

<script>
  import { initScripts } from '@/scripts/scripts.ts';
  initScripts();
</script>