---
// Supports weights 100-900
import '@fontsource-variable/genos';
import '@fontsource/ibm-plex-mono/400.css';
import '@fontsource/ibm-plex-mono/500.css';
import '@fontsource/kiwi-maru';

import '@/styles/styles.scss';

import BackgroundImage from '@/components/base/BackgroundImage.astro';
import Header from '@/components/base/Header.astro';
import Meta from '@/components/base/Meta.astro';

const props = Astro.props;
---

<!doctype html>
<html lang="ja">
	<head>
		<Meta {...props} />
	</head>
	<body>
    <Header />
    <BackgroundImage />
		<slot />
	</body>
</html>

<style>
	body {
		font-family: 'IBM Plex Mono', 'Kiwi Maru', sans-serif;
	}
</style>
