---
import Fotter from '@/components/base/Fotter.astro';
import InfoControlPanel from '@/components/widget/ControlPanel/InfoControlPanel.astro';
import SideBar from '@/components/widget/SideBar.astro';
import Layout from '@/layouts/Layout.astro';

const props = Astro.props;
const { gridType } = props;
const gridTypeClass = gridType ? `grid-${gridType}` : '';
---

<Layout {...props} pageTitle={props.pageTitle}>
  <main class="main">
    <div class={`container ${gridTypeClass}`}>
      <slot />
    </div>
    <InfoControlPanel />
    <Fotter />
  </main>
</Layout>

<style lang="scss">
  .main {
    @include mixin.mobile {
    }
    @include mixin.phone {
    }
    .container {
      padding-top: var(--header-height);

      &.grid-post {
        display: grid;
        grid-template-columns: var(--side-width) minmax(0, 1fr) 15.5rem;
      }

      &.grid-list {
        display: grid;
        grid-template-columns: var(--side-width) minmax(0, 1fr);
      }
    }
  }
</style>
