@use '../mixin';

[data-rehype-pretty-code-figure] {
  position: relative;
  margin-top: 4rem;
  margin-bottom: 3rem;

  &:not(:has(> [data-rehype-pretty-code-title])) {
    margin-top: 2rem;
  }

  [data-rehype-pretty-code-title] {
    position: absolute;
    top: -1.5rem;
    left: 0;
    padding: 0.5rem 1rem;
    background: #dcdad3;
    border-top-left-radius: 0.25rem;
    border-top-right-radius: 0.25rem;
    font-size: 0.85rem;
    font-weight: 500;
    line-height: 1;
    letter-spacing: -0.01em;
  }

  pre {
    background: #dcdad3 !important;
    border-radius: 0.25rem;
    overflow-x: auto;
    outline: none;

    &::-webkit-scrollbar {
      height: 4px;
    }

    &::-webkit-scrollbar-track {
      background: transparent;
      border-radius: 4px;
    }

    &::-webkit-scrollbar-thumb {
      background: var(--gray);
      border-radius: 4px;
    }
  }

  pre>code {
    display: grid;
    border-radius: 0.25rem;
    padding: 1.5rem 0 1.5rem;
    line-height: 1.5;
    font-family: JetBrains Mono Variable, ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas, Liberation Mono, Courier New, monospace;
    font-size: 0.85rem;

    [data-line] {
      border-left: 4px solid transparent;
      padding: 0 1.5rem;
    }

    .highlighted {
      background-color: rgba(108, 200, 125, 0.2);
      border-color: rgba(0, 146, 27, .5);
    }
  }

  .rehype-pretty-copy {
    margin-top: 0;
    cursor: pointer;
    padding: 0.3rem;
    top: 0.75rem;
    width: 36px;
    height: 36px;
    background: #dcdad3;
    border-radius: 0.5rem;
    transition-property: opacity, background;
    transition-duration: 0.3s;

    @include mixin.hover {
      background: var(--black);
    }
  }
}